[Unit]
Description=Valheim Server Service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=forking
PIDFile=/run/valheim/valheim.pid
EnvironmentFile=/etc/sysconfig/valheim
Restart=on-failure
RestartSec=10
User=janthony
PermissionsStartOnly=true
WorkingDirectory=/home/steam/steamapps/common/valheim/
ExecStartPre=/usr/bin/mkdir -p /run/valheim
ExecStartPre=/usr/bin/chown valheim:valheim /run/valheim
ExecStart=/start_valheim.sh

[Install]
WantedBy=multi-user.target
